/*Main style file for thrive worldwide website developed by Brian G Otwoma<http://www.briangisairo.com>*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');

@font-face {
  font-family: 'GearedSlab-Light';
  src: url(../fonts/GearedSlab-Light.ttf);
}
body{
  font-size: 16px;
  max-width: 1920px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.27;
}

body.front-page {
  min-width: 1130px;
}

body,
.ui-widget p,
.ui-accordion .field-content,
.ui-accordion .ui-accordion-header,
.font-archivo {
  font-family: 'Archivo Narrow', sans-serif;
  color: #6E6E6E;
}

.layout-container,
.container{
  background: #ffffff;
}

.breadcrumb{
  display: none;
  opacity: 0;
  height: 0;
}
#main{
  margin-top: -30px;
}

.one-sidebar #main{
  margin-top: 0;
}
/* GENERAL */
.font12,
.tagged a,
.byline,
#sidebar-second .views-field-view-node a {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16,
.homeservicesbody,
.resources .views-field-body{
  font-size: 16px;
}
.font18,
#sidebar-second .views-field-title a {
  font-size: 18px;
}
.font24,
.listing-page .title,
.listing-page .title a {
  font-size: 24px;
}
.font28,
.sidebar h2 {
  font-size: 28px;
}

.font36, h1 {
  font-size: 42px;
}
.homeservicesintro,
.font20 {
  font-size: 25px;
  margin-bottom: 25px;
}
.sidebar .listing-page .byline,
.uppercase {
  text-transform: uppercase;
}
.text-center,
.resources,
.client-types,
.resources footer,
#block-signuptoday,
#block-signuptoday h2,
#block-views-block-general-block-5 {
  text-align: center;
}
.text-left,
#block-signuptoday ul li {
  text-align: left;
}
#header, #footer, #sidebar-first, #sidebar-second, #navigation{
  background: none;
}
#header{
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  float: none;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.18);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.18);
}
#block-exposedformblogpage-1 form,
#block-exposedformreourcespage-1 form,
#block-exposedformeventspage-1 form,
#header-region,
#block-thrive-page-title h1,
.container{
  max-width: 1510px;
  width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}
#header .container {
  max-width: none;
  padding: 0;
}
#main .container {
  padding: 0 0;
  margin-top: -10px;
  color: #6E6E6E;
  -webkit-box-shadow: 0 2px 8px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0 2px 8px 0px rgba(0,0,0,0.18);
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.18);
}
.hidden,
#block-thrive-main-menu .menu li.menu-item:last-child,
.location-block > h3,
.front #block-thrive-local-tasks,
.front #block-thrive-content,
#block-mobilemenutrigger,
.site-name,
body.section-event-landing #block-thrive-content,
body.section-event-landing #block-thrive-page-title,
.clinic-locations-block .views-row h2,
#block-views-block-clinic-block-1 .row.United:nth-child(5) h3,
#block-views-block-clinic-block-1 .row.United:nth-child(6) h3 {
  display: none;

}
body.section-event-landing aside {
  display: none !important;
}
#block-webform,
#block-homepagecontactusfirstcolumnblock,
body.no-sidebar #content-area .views-element-container {
  clear: both;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
}
.page-service  #content-area .views-element-container,
.page-purpose  #content-area .views-element-container,
.page-resources #content-area .views-element-container,
.page-blog #content-area .views-element-container,
.page-events #content-area .views-element-container{
  margin-top: 0;
}
#content-area #block-webform,
#content-area #block-homepagecontactusfirstcolumnblock {
  padding-top: 80px;
  margin-top: 0;
}
#content-area #block-homepage-contact-us-block {
  padding-top: 80px;
  padding-bottom: 60px;
}
#content-area #block-homepage-contact-us-block,
#content #block-views-block-general-block-4,
#content-area #block-homepage-testimonials-block,
#content-area #block-views-block-general-block-9 {
  margin-top: 0;
  margin-bottom: 0;
}
#block-webform,
#block-homepagecontactusfirstcolumnblock {
  clear: none
}

#block-views-block-general-block-7{
  color: #ffffff;
}
body.section-event-landing #content #block-views-block-general-block-7 {
  /*   margin-left: -35px; */
  max-width: 1510px;
  position: relative;
}
#block-views-block-general-block-7::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.6)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0,0,0,0.6)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.6)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0,0,0,0.6)); /* Standard syntax */
  z-index: 5;
}
.section-blog .submitted{
  display: none;
}
/*fonts*/

.homepage-testimonials .views-field-body{
  font-family: 'Archivo Narrow', serif;
  font-size: 28px;
  line-height: 1.22;
  text-align: left;
  color: #7f7f7f;
  margin-bottom: 35px;
}
.homepage-testimonials .views-field-title{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #7f7f7f;
  margin-bottom: 10px;
}
.homepage-testimonials .views-field-field-subtitle{
  font-size: 18px;
  font-style: italic;
}

/*links*/

a{
  font-size: 14px;
  text-align: center;
}
a:hover,
a:active,
a:hover{
  color: #13bb64;
}

.ui-accordion .views-field-body a,
#block-thrive-content .service_page__body a,
#block-thrive-content .event__body a,
#block-thrive-content .blog_post__body a,
#overlay .overlay_content .content_body a {
  color: #13bb64;
  text-decoration: underline;
  font-size: inherit;
}

.ui-accordion .views-field-body a:hover,
#block-thrive-content .service_page__body a:hover,
#block-thrive-content .event__body a:hover,
#block-thrive-content .blog_post__body a:hover,
#overlay .overlay_content .content_body a:hover {
  color: #686868;
  text-decoration: none;
}


#block-medkitslink a,
#block-thrive-main-menu a,
#block-bookschedulemenu li.menu-item a{
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: top;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  position: relative;
}
#block-bookschedulemenu li {
  display: inline-table;
  margin: 0;
  float: none;
  float: left
}
#block-medkitslink a,
#block-bookschedulemenu li.menu-item a{
  vertical-align: top;
  background: #13a95b;
  padding: 12px 21px 10px;
  -moz-border-radius: 25px 0 0 25px;
  -webkit-border-radius: 25px 0 0 25px;
  border-radius: 25px 0 0 25px;
  display: block;
  font-size: 12px;
}
#block-bookschedulemenu li.menu-item:nth-child(2) a{
  -moz-border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  border-radius: 0 25px 25px 0;
  border-left: 1px #fff solid;
}
#block-medkitslink a {
  background: #D60C0C;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
}
#block-thrive-main-menu a{
  font-size: 16px;
  text-align: right;
  color: #7f7f7f;
}
#block-thrive-main-menu a:focus,
#block-thrive-main-menu a:active,
#block-thrive-main-menu a.is-active,
#block-thrive-main-menu a:hover{
  color: #13bb64;
}
#block-medkitslink a:hover,
#block-medkitslink a:focus {
  background: #fd1b1b;
}
#block-thrive-main-menu a.is-active::after {
  position: absolute;
  top: 54px;
  left: 0;
  content: " _ ";
  height: 20px;
  color: transparent;
  background: transparent url('../images/icon-active-menu.png') no-repeat;
  background-size: 20px;
  background-position: center;
  z-index: 2;
  width: 100%;
  text-align: center;
}
#footer a{
  color: #dadada;
}
#footer a:focus,
#footer a:active,
#footer a:hover{
  color: #13bb64;
}
#block-socialmediaicons a,
#block-thrive-footer a{
  font-size: 14px;
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 1.75;
}
#twitter-feed {
  color: #c4c4c4;
  font-size: 0.85em;
}
#twitter-feed ul li {
  padding-bottom: 5px;
  border-bottom: 1px dotted #c4c4c4;
  margin-bottom: 15px;
}

#twitter-feed ul li p a {
  word-break: break-all;
}
#twitter-feed a {
  color: #13bb64;
}
#twitter-feed a:hover {
  color: #c4c4c4;
}
#customlogo p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #c4c4c4;
}
#connect #email:before,
#connect #google:before,
#connect #instagram:before,
#connect #linkedin:before,
#connect #twitter:before,
#connect #facebook:before{
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  background: transparent url(../images/icons-social.png) no-repeat 0 0;
  background-size: 22px 154px;
  background-position: 0 0;
  float: left;
  margin-right: 12px;
}
#connect #twitter:before{
  background-position: 0 -34px;
}
#connect #linkedin:before,
#connect #instagram:before{
  background-position: 0 -68px;
}
#connect #google:before{
  background-position: 0 -102px;
}
#connect #email:before{
  background-position: 0 -136px;
}
.mainslide .flex-control-nav,
.mainslide .slides .views-field-nothing {
  position: absolute;
  bottom: 260px;
  left: 15%;
  color: #ffffff;
  width: 60%;
  text-align: left;
}
#block-views-block-general-block-7 .title,
.mainslide .slides .views-field-nothing .title,
.mainslide .slides .views-field-nothing .title a {
  font-family: 'GearedSlab-Light', serif;
  font-size: 48px;
  font-weight: 100;
  text-align: left;
  color: #ffffff;
  margin-bottom: 5px;
}
#block-views-block-general-block-7 .blurb,
.mainslide .slides .views-field-nothing .blurb {
  margin-bottom: 20px;
  display: block;
  font-size: 24px;
}
#block-views-block-general-block-7 .blurb {
  font-size: 20px;
}
.secondsignup .views-field-field-call-to-action a,
.resources .viewmore,
.event__booking-link a,
.booknow .booknowbtn,
.mainslide .slides .views-field-nothing .btn a,
#block-thrive-content .service_page__call-to-action a,
#block-thrive-content .service_page__booking-link a,
#block-thrive-content .blog_post__call-to-action a {
  border-radius: 2px;
  background-color: #f3664a;
  display: inline-block;
  padding: 12px 28px 8px;
  text-align: center;
  font-family: 'GearedSlab-Light', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

#block-thrive-content .service_page__call-to-action a,
#block-thrive-content .service_page__booking-link a,
#block-thrive-content .blog_post__call-to-action a {
  font-size: 16px;
  padding: 10px 15px;
  float: left;
  margin-right: 30px;
  margin-top: 10px;
  font-weight: 100;
}

.secondsignup .views-field-field-call-to-action a:hover,
.event__booking-link a:hover,.event__booking-link a:focus,
.booknow .booknowbtn:hover,.booknow .booknowbtn:focus,
.resources .viewmore,
.mainslide .slides .views-field-nothing .btn a:hover,
#block-thrive-content .service_page__call-to-action a:hover,
#block-thrive-content .service_page__booking-link a:hover,
#block-thrive-content .blog_post__call-to-action a:hover {
  background-color: #13bb64;
}

.resources .viewmore:hover,
.resources .viewmore:focus {
  background-color: #f3664a;
}
#block-views-block-special-event-block-5 .text a,
#block-homepage-events-block .link-bt a{
  border-radius: 2px;
  background-color: #f3664a;
  display: inline-block;
  padding: 6px 14px 4px;
  text-align: center;
  font-family: 'GearedSlab-Light', serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.half-page .views-field-title a {
  font-family: 'GearedSlab-Light', serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 35px;
  display: block;
  text-align: left;
}
/* green button */
a.btn-green,
a.btn-orange,
.location__description::before,
.views-field-description__value::before,
.resource__download a,
.download a,
.readmore a{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 7px 25px;
  background: #13bb64;
  transition: background-color ease 0.5s;
  border-radius: 2px;
  width: 130px;
  display: block;
  margin-top: 25px;
}

.readmore a:hover{
  background: #13BB64;
}
.resource__download a,
.download a{
  background: #f3664a;
  width: 150px;
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
a.btn-orange:hover,
a.btn-orange:focus,
.resource__download a:hover,
.download a:hover{
  background: #13BB64;
}
a.btn-orange,
a.btn-green:hover,
a.btn-green:focus {
  background: #f3664a;
}

.resource__download a,
.listing-page .download a{
  margin: 0 0 10px 0 ;
}
.client-types .views-field-title a{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.signup .views-field-title a{
  display: block;
  margin-bottom: 35px;
}
.tabmenu a{
  display: block;
  text-align: left;
  padding: 21px 141px 21px 102px;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  min-height: 32px;
  position: relative;
  width: 87%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: -50px;
  border-bottom-left-radius: -50px;
  transition: all ease 0.5s;
  background: #13a95b;
  cursor: pointer;
}
.tabmenu a:hover{
  background: #13a95b;
  width: 90%;
}
.tabmenu a:before{
  position: absolute;
  top: 0;
  left: 0;
  content: " _ ";
  display: block;
  background: transparent url('../images/icon-clinical-white.png') no-repeat 0 0;
  background-size: contain;
  height: 60px;
  width: 60px;
  color: transparent;
  z-index: 2;
}

.sidebar .tabmenu li.active a,
.sidebar .tabmenu li.active .round {
  background: #13BB64;
}
.tabmenu a.active{
  background: #13a95b;
  width: 103%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all ease 0.5s;
}
.tabmenu .active::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " _ ";
  height: 60px;
  width: 60px;
  color: transparent;
  z-index: 2;
  left: unset;
  background: transparent url('../images/services-drawer-arrow.png') no-repeat 0 0;
  background-size: contain;
  height: 69px;
  right: -30px;
  z-index: 2;
}

.block-purpose-menu-block .tabmenu a:before,
.block-purpose-menu-block .tabmenu .active::after {
  background-image: url('../images/icon-leaf-white.png');
}

.second .tabmenu .active::after {
  display: none;
}
.tabmenu a.active:hover{
  background: #13a95b;
  width: 102.5%;
}
.tabmenu li:nth-child(2) a:before{
  background: transparent url('../images/icon-learning-white.png') no-repeat 0 0;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.block-purpose-menu-block .tabmenu li:nth-child(2) a:before {
  background-image: url('../images/icon-team-white.png');
}

.tabmenu li:nth-child(3) a:before{
  background: transparent url('../images/icon-consultancy-white.png') no-repeat 0 0;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.block-purpose-menu-block .tabmenu li:nth-child(3) a:before {
  background-image: url('../images/icon-globe-location-white.png');
}

/*images*/

#customlogo img{
  max-width: 225px;
  max-height: 225px;
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 27px;
}
.client-types .views-field-field-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  width: 118px;
  transition: ease-out 0.5s;

}
.client-types .views-field-field-image {
  height: 140px;
}
.resources .views-field-field-resoruc img{
  display: block;
  margin: 0 auto 25px;
}
.blog_post__image img,
.event__image img,
#block-thrive-content img{
  margin-bottom: 15px;
}
body.page-clinics .content .page__body img {
  width: 97%;
}

/*lists*/
.whatwedo nav{
  margin: 0;
  padding: 0;
  list-style: none;
}
.whatwedo li{
  margin-bottom: 40px;
  position: relative;
}
.second .whatwedo li{
  margin-bottom: 25px;
}
.whatwedo .round{
  height: 110px;
  width: 110px;
  display: block;
  position: absolute;
  border-radius: 90px;
  left: -29px;
  top: -18px;
  background: #13a95b;
  opacity: 0.9;
  border: 5px solid #13bb64;
  z-index: 1;
  transition: background-color ease 0.5s;
}
.second .whatwedo .round{
  height: 65px;
  width: 65px;
  left: -18px;
  top: -11px;
  background: #9b9b9b;
  border-color: #ffffff;
  opacity: 1;
}
.sidebar .tabmenu a {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #a5a5a5;
  padding-right: 0;
  padding-left: 65px;
  font-size: 18px;
  min-width: 240px;
}
.sidebar .tabmenu li:hover a,
.sidebar .tabmenu li:hover .round {
  background: #6e6e6e;
}
.sidebar .tabmenu li.active:hover a,
.sidebar .tabmenu li.active:hover .round {
  background: #14ab5d;
}

.second .tabmenu li:nth-child(3) a:before,
.second .tabmenu li:nth-child(2) a:before,
.second .tabmenu a:before{
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

#block-views-block-general-block-3 ul {
  margin-top: 60px;
}
#block-views-block-general-block-3 ul li {
  position: relative;
  display: inline-block;
  background: url('../images/step01.png') no-repeat 0 0;
  background-size: 315px auto;
  width: 315px;
  vertical-align: top;
  height: 190px;
  padding-left: 155px;
  padding-right: 30px;
  padding-top: 40px;
  z-index: 3;
  text-align: left;
}
#block-views-block-general-block-3 ul li:nth-child(2),
#block-views-block-general-block-3 ul li:nth-child(3) {
  margin-left: -40px;
  z-index: 2;
  background: url('../images/step02.png') no-repeat 0 0;
  background-size: 315px auto;
}
#block-views-block-general-block-3 ul li:nth-child(3) {
  z-index: 1;
  background: url('../images/step03.png') no-repeat 0 0;
  background-size: 315px auto;
}
#block-views-block-general-block-3 .views-field-nothing{
  width: 66%;
  margin: auto;
  text-align: center;
}
#connect li {
  display: table;
  margin-bottom: 8px;
}
#footer ul.menu li {
  margin-bottom: 8px;
}
#block-views-block-client-view-block-1 li{
  width: 45%;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 45px;
  text-align: center;
}

/*headers*/
h1{
  font-family: 'GearedSlab-Light', serif;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.homepage-testimonials > footer h2 a,
h2{
  color: #7f7f7f;
  font-family: 'GearedSlab-Light', serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 25px;
}
#sidebar-second .block h2 {
  border-bottom: solid  5px #13bb64;
  padding-bottom: 5px;
}
#block-thrive-page-title h1{
  padding: 40px 35px;
}

#block-views-block-events-block-2 h2{
  padding-bottom: 5px;
  border-bottom:  5px solid #13bb64;
}
#block-webform-2 h2{
  position: absolute;
  top: 0px;
  color: #ffffff;
  background: #f3664a;
  width: 100%;
  left: 0;
  padding: 20px 20px 10px;
}
.servicescontainer h2 a,
.signup .views-field-title a,
.signup .views-field-title{
  font-family: 'GearedSlab-Light', serif;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #7f7f7f;
}
#block-views-block-client-view-block-3 h2,
#block-homepage-events-block h2,
#block-views-block-reources-block-1 h2,
.signup .views-field-title a,
#block-views-block-general-block-3 h2{
  text-align: center !important;
}
.whatwedo h2,
.signup.secondsignup .views-field-title {
  color: #ffffff;
}
.signup.secondsignup .views-field-title {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 30px;
}
#block-homepage-events-block h2{
  color: #ffffff !important;
}
#footer h2{
  font-size: 24px;
  color: #c4c4c4;
}
.homepage-testimonials > footer h2 a{
  color: #ffffff;
}
.homepage-testimonials > footer p{
  font-size: 18px;
  line-height: 1.27;
  text-align: left;
  color: #ffffff;
}
#block-views-block-general-block-7 .views-field-nothing {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  z-index: 6;
}
#block-views-block-general-block-7 .title,
body.section-event-landing .views-element-container h2 {
  text-align: center;
  text-transform: none
}

/* images */
#block-homepage-events-block .image img {
  width: auto !important;
  height: 100% !important;
}
#block-views-block-general-block-7 img {
  width: 100%;
}

/*blocks*/
.one-sidebar #content-area,
#block-thrive-content{
  margin-bottom: 30px;
  display: block;
}
#block-thrive-content p {
  color: #686868;
}
#block-webform{
  margin-bottom: 60px;
}

#block-service-menu-block {
  margin-bottom: 50px;
}

body.section-service #block-service-menu-block {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}

#content-area #block-views-block-general-block-1{
  clear: both;
  margin-top: 0;
  top: 0;
  left: 0;
  display: block;
}
#block-exposedformblogpage-1,
#block-exposedformreourcespage-1,
#block-exposedformeventspage-1{
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 300px;
  height: 98px;
  left: 0;
  border-bottom: 1px solid #c4c4c4;
}
#block-exposedformblogpage-1 form::before,
#block-exposedformreourcespage-1 form::before,
#block-exposedformeventspage-1 form::before {
  content: "FILTER BY: ";
  margin: 25px 35px 0 0;
  display: inline-block;
  font-weight: bold;
}
#block-exposedformblogpage-1 .form-item,
#block-exposedformblogpage-1 .form-actions,
#block-exposedformreourcespage-1 .form-item,
#block-exposedformreourcespage-1 .form-actions,
#block-exposedformeventspage-1 .form-item,
#block-exposedformeventspage-1 .form-actions{
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  vertical-align: top;
}
#block-exposedformblogpage-1 .form-submit,
#block-exposedformreourcespage-1 .form-submit,
#block-exposedformeventspage-1 .form-submit{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 10px 25px;
  background: #13bb64;
  transition: background-color ease 0.5s;
  border-radius: 2px;
  width: 130px;
  display: block;
  text-transform: uppercase;
  margin-top: 28px;
}
#block-exposedformblogpage-1 select,
#block-exposedformblogpage-1 .form-text,
#block-exposedformreourcespage-1 select,
#block-exposedformreourcespage-1 .form-text,
#block-exposedformeventspage-1 select,
#block-exposedformeventspage-1 .form-text{
  border: none;
  border-bottom: 1.2px solid #9b9b9b;
  font-family: 'Archivo Narrow', serif;
  padding: 5px 0;
  font-size: 14px;
  box-shadow: none;
}
#block-exposedformblogpage-1 .form-text:hover,
#block-exposedformreourcespage-1 .form-text:hover,
#block-exposedformeventspage-1 .form-text:hover{
  border-color: #13bb64;
  box-shadow: none;
  outline: none;
}
#block-exposedformblogpage-1 .form-item label,
#block-exposedformreourcespage-1 .form-item label,
#block-exposedformeventspage-1 .form-item label{
  width: auto;
  display: block;
  font-weight: bold;
  color: #6e6e6e;
}
#block-exposedformblogpage-1 select,
#block-exposedformreourcespage-1 select,
#block-exposedformeventspage-1 select{
  width: auto;
  display: inline-block;
  margin-bottom: 0;
}
.views-exposed-form .button {
  margin-top: 20px !important;
}
#block-testimonialsintro .bg-image{
  position: absolute;
  top: 0;
  max-width: 1274px;
  width: 100%;
  left: 0;
  z-index: -1;
  height: 494px;
  background: transparent url('../images/testimonials-bg.jpg') no-repeat 0 0;
  background-size: cover;
}
.homepage-testimonials .special_page__image{
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  z-index: -10;
}

.homepage-testimonials .flexslider:after{
  background: transparent url('../images/testimonials-arrow.png') no-repeat 0 0;
  background-size: contain;
  content:" _ ";
  color: transparent;
  height: 88px;
  width: 160px;
  display: block;
  position: absolute;
  left: 0;
  opacity: 0.85;
  top: 162px;
}
#block-views-block-special-event-block-4,
#block-views-block-general-block-3{
  background: #ededed url('../images/bg-arrow-white.png') no-repeat 0 -3px;
  background-size: contain;
  padding-top: 170px;
  padding-bottom: 40px;
}
#block-views-block-general-block-3 .views-field-body{
  text-align: center;
}
#block-views-block-general-block-3 p {
  width: 60%;
  margin: 0 auto;
  display: block;
}
#block-homepage-events-block .views-field-nothing-1 {
  background-color: #14A55A;
  height: 360px;
  margin-bottom: 30px;
}
#block-homepage-events-block .image,
#block-homepage-events-block .text{
  width: 50%;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  height: 100% !important;
  overflow: hidden;
  position: relative;
}
#block-homepage-events-block .text {
  position: absolute;
  right: 0;
  padding: 40px 40px 5% 40px;
  height: 93% !important;
}
.homepage-events .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.homepage-events .blurb {
  font-size: 16px;
}
.views-field-field-video-embed iframe {
  width: 100%;
  max-width: 540px;
  height: 300px
}
.clinic-locations-block .row {
  display: inline-block;
  width: 30%;
  height:350px;
  vertical-align: top;
  padding: 0;
  margin-right: 3%;
  position: relative;
  background-repeat: no-repeat;
}
.clinic-locations-block .row.active:after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-bottom-color: #efefef;
  border-top: 0;
  margin-left: -27px;
  margin-top: -27px;
}
.clinic-locations-block .row:nth-child(3),
.clinic-locations-block .row:nth-child(6) {
  margin-right: 0;
}
.clinic-locations-block .row img {
  display: none;
}
.clinic-locations-block .row .views-field-field-thumbnail-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.28);
  transition: background-color 0.5s ease;
  height: 100%;
  width: 100%;
}
.clinic-locations-block .row.active .views-field-field-thumbnail-image::before,
.clinic-locations-block .row:hover .views-field-field-thumbnail-image::before,
.clinic-locations-block .row:focus .views-field-field-thumbnail-image::before {
  background-color: #13bb64d4;
  transition: background-color 0.5s ease;
}
.clinic-locations-block .row .views-field-description__value {
  color: #fff;
  vertical-align: bottom;
  position: absolute;
  bottom: 60px;
  margin-left: 20px;
  line-height: 120%;
  z-index: 5;
  font-size: 24px;
  width: 82%;
}
.clinic-locations-block .row .views-field-description__value::before,
.clinic-locations-block .location__description::before {
  content: "SELECT";
  position: absolute;
  bottom: -25px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
}

#block-views-block-clinic-block-1 {
  background-color: #efefef;
  margin-top: 40px;
}
#block-views-block-clinic-block-1 .views-field-nothing .field-content > div {
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-bottom: solid 1px #ffffff;
  padding: 20px 30px;
}
#block-views-block-clinic-block-1 img,
#block-views-block-clinic-block-1 .details{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
}
#block-views-block-clinic-block-1 .details > span {
  display: block
}
#block-views-block-clinic-block-1 .details .title {
  font-weight: 700;
  margin-bottom: 5px;
}

#block-views-block-clinic-block-1 .details .cta a{
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-right: 10px;
  padding: 7px 15px;
}
figure.align-left {
  margin: 5px 20px 20px 0;
}
figure.align-right {
  margin: 5px 0 20px 20px;
}
/*forms*/
.contact-block #edit-contact-column-one,
.contact-block #edit-contact-column-two{
  display: inline-block;
  vertical-align: top;
  width: 46%;
}
.contact-block #edit-contact-column-one{
  margin-right: 40px;
}
.contact-block .captcha{
  width: 160px;
  display: inline-block;
  max-height: 70px;
  overflow: hidden;
}
.contact-block .rc-anchor-compact .rc-anchor-content{
  height: 36px;
}
.captcha label{
  font-size: 11px;
}
.captcha #edit-captcha-response{
  width: 30px;
  display: inline;
}
.contact-block #edit-actions{
  position: absolute;
  right: -15px;
  bottom: 15px;
}
#block-webform .captcha .js-form-item{
  width: 100%;
}
#edit-captcha-response--description{
  font-size: 11px;
}
#block-pagetitle{
  background: rgba(19, 187, 100, 0.95);
  padding: 50px 60px 2px 60px;
  clear: both;
  z-index: 2;
}
#block-thrive-branding{
  margin-bottom: 15px;
  height: 55px;
}
.second #block-views-block-client-view-block-4,
.second #block-purpose-menu-block,
.second #block-views-block-service-block-3{
  margin-bottom: 50px;
  padding: 10px;
}
.views-exposed-form > form > select,
.views-exposed-form form input['text'] {
  width: 200px !important;
}


/* views */
.client-types {
  margin-top: 50px;
}
.client-types .views-row{
  max-width: 16%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  margin-bottom: 30px;
}
.homepage-events {
  position: relative;
}
.signup .views-field-body{
  text-align: center;
  margin-bottom: 35px;
}
#block-homepage-events-block .title a,
.resources .views-field-title {
  font-size: 20px;
  font-weight: bold;
}
#block-homepage-events-block .title a,
#block-homepage-events-block .title {
  font-size: 24px;
}
.resources .views-field-title {
  margin-bottom: 30px;
  text-align: center;
  color: #7f7f7f;
  line-height: 120%
}

.resources .views-field{
  margin-bottom: 30px;
}
.resources .views-field-title {
  margin-bottom: 15px;
}

.resources footer{
  width: 100%;
  float: none;
}

body.section-event-landing .views-element-container {
  text-align: center;
  padding: 60px 30px;
}
body.section-event-landing #block-views-block-general-block-7.views-element-container {
  padding: 0;
}
#block-views-block-special-event-block-1,
#block-views-block-special-event-block-4,
#block-views-block-special-event-block-6 {
  background-color: #EDEDED;
}
#block-views-block-special-event-block-1 p {
  max-width: 980px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 140%;
}
#block-views-block-special-event-block-2 .item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 2% 3%;
}
#block-views-block-special-event-block-2 .item img {
  max-width: 120px;
}
#block-views-block-special-event-block-2 .item p {
  margin-top: 20px;
}
#block-views-block-special-event-block-3 {
  border-top: solid 1px #d2d2d2;
}
#block-views-block-special-event-block-3 .views-field-nothing {
  max-width: 1080px;
  margin: 0 auto;
}

#block-views-block-special-event-block-3 .left,
#block-views-block-special-event-block-3 .right {
  display: inline-block;
  vertical-align: top;
  max-width: 220px;
}
#block-views-block-special-event-block-3 .left img {
  width: 130px;
}
#block-views-block-special-event-block-3 .left h2 {
  font-size: 24px;
  margin-top: 20px;
}
#block-views-block-special-event-block-3 .right {
  max-width: 700px;
  text-align: left;
  margin-left: 100px;
}
#block-views-block-special-event-block-3 .right ol {
  list-style-type: none;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
}
#block-views-block-special-event-block-3 .right ol li{
  margin-bottom: 25px;
  counter-increment: step-counter;
  position: relative;
}
#block-views-block-special-event-block-3 .right ol li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  border: solid 2px rgb(18, 188, 99);
  color: #12bc63;
  font-weight: bold;
  padding: 7px 15px 0;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: -60px;
  font-size: 26px;
  font-family: 'GearedSlab-Light', serif;
}
#block-views-block-special-event-block-4 .views-field-field-video-url {
  max-width: 1030px;;
  margin: 0 auto 50px;
}
#block-views-block-special-event-block-5 .views-row > div:nth-child(2) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#block-views-block-special-event-block-5 .views-row > div:last-child {
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
#block-views-block-special-event-block-5 .views-field-nothing,
#block-views-block-special-event-block-5 .views-field-nothing-1 {
  display: inline-block;
  vertical-align: top;
  background: #EDEDED;
  margin: 2px;
  padding: 30px ;
  height: 170px;
  width: 300px;
}
#block-views-block-special-event-block-5 .icon img {
  width: 80px;
}
#block-views-block-special-event-block-5 .icon,
#block-views-block-special-event-block-5 .text {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  width: 30%;
}
#block-views-block-special-event-block-5 .text {
  width: 60%;
  margin-left: 15px;
}
#block-views-block-special-event-block-5 .text .sub {
  font-family: 'GearedSlab-Light', serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
#block-views-block-special-event-block-5 .text p em {
  font-size: 12px;
  line-height: 140%;
  display: block;
}
#block-views-block-special-event-block-8 {
  position: relative;
  overflow: hidden;
  padding: 0;
  mid-height: 400px;
}
#block-views-block-special-event-block-8 .views-field-nothing {
  position: absolute;
  top: 40px;
  width: 100%;
  margin: 0 auto;
  top: 80px;
  z-index: 5;
  color: #ffffff;
}
#block-views-block-special-event-block-8 h2 {
  color: #ffffff;
}
#block-views-block-special-event-block-8 .bg-overlay {
  background: rgba(0,0,0,1);
}
#block-views-block-special-event-block-8 .bg-overlay img {
  opacity: 0.5;
  width: 100%
}
#block-views-block-special-event-block-8 .body {
  font-style: italic;
  max-width: 900px;
  margin: 0 auto;
  font-size: 24px;
  margin-top: 10px;
}

body.section-event-landing a.btn-orange {
  margin: 30 auto;
  text-transform: uppercase;
  width: auto;
  display: inline-block;
  font-family: 'GearedSlab-Light', serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* green button hover */
#block-views-block-clinic-block-1 .details .cta a:hover,
#block-views-block-clinic-block-1 .details .cta a:focus,
.clinic-locations-block .row.active .views-field-description__value::before,
.clinic-locations-block .row:focus .views-field-description__value::before,
.clinic-locations-block .row:hover .views-field-description__value::before,
.clinic-locations-block .views-row:focus .location__description::before,
.clinic-locations-block .views-row:hover .location__description::before,
.resources .viewmore:hover{
  background-color: #f3664a;
}

#block-views-block-special-event-block-5 .text a:hover,
#block-views-block-special-event-block-5 .text a:focus {
  background-color: #12bc63;
}

#block-homepage-events-block{
  background: #13bb64;
  padding: 70px;
  margin-bottom:0 !important;
}
.one-sidebar.sidebar-second #content{
  margin-top: 45px;
  margin-bottom: 70px;
  margin-left: 35px;
  width: 67%;
  margin-right: 0;
}
body.section-event-landing.one-sidebar.sidebar-second #content {
  width: 100%;
  margin: 0;
}
.one-sidebar.sidebar-second #sidebar-second{
  margin-top: 45px;
  padding-left: 19px;
  margin-bottom: 70px;
}
#sidebar-second {
  float: right;
  display: block;
  margin-right: 2.12766%;
  width: 25%;
  position: relative;
  padding-left: 3% !important;
  border-left: 1px solid #c4c4c4;
  margin-right: 35px !important;
  min-width: 285px;
}
.listing-page .pager{
  margin: 25px 0;
}
.listing-page .pager__item {
  display: inline-block;
  vertical-align: top;
}
.listing-page .pager__item a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: rgba(74, 74, 74, 0.8);
  margin-left: 5px;
  padding: 4px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.listing-page .pager__item a:hover,
.listing-page .pager__item a:focus {
  background-color: #ededed;
}
.listing-page .pager__item--active a {
  background-color: #13bb64;
  color: #ffffff;
  text-align: center;
  display: block;
}
.listing-page .views-row{
  margin-bottom: 40px;
  overflow: hidden;
}
.listing-page .views-row:first-child{
  margin-top: 0;
}
.sidebar .listing-page .byline time {
  color: #13bb64;
}
.sidebar .listing-page .byline{
  font-weight: bold;
}
.listing-page .read a{
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  color: #9b9b9b;
}
.listing-page .title,
.listing-page .title a{
  font-weight: bold;
  text-align: left;
  color: #686868;
}

.listing-page .title a,
.listing-page .read a {
  color:#13bb64
}

.listing-page .title a:hover,
.listing-page .read a:hover {
  color: #686868;
}

.listing-page .previewtext{
  font-size: 1.1em;
  line-height: 1.27;
  text-align: left;
  color: #686868;

}
.listing-page .previewtext p{
  margin: 0;
}
.purpose_page__subtitle,
.service_page__subtitle,
.client_page___subtitle,
#block-views-block-purpose-block-4 h2 {
  font-size: 1.4em;
  margin-bottom: 15px;
  font-weight: 600;
}

.purpose_page__subtitle {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

#block-views-block-purpose-block-4 h2 {
  text-transform: none;
  font-family: 'Archivo Narrow', sans-serif;
  margin-top: 30px;
}

.event__booking-link,
.event__paypal-payment-link{
  display: inline-block;
  width: auto;
  margin-right: 30px;
  vertical-align: top;
  margin-top: 30px;
}
.event__paypal-payment-link a{
  display: block;
  background: transparent url('../images/pay-now-paypal.png') no-repeat 0 0;
  background-size: contain;
  width: 200px;
  color: transparent;
  height: 40px;
}
.blog_post__category a,
.event__category a,
.event__category,
.events__event- a,
.article__tags div {
  display: inline-block;
  margin-bottom: 10px;
}
.blog_post__category a,
.event__category a,
.event__category,
.section-events .events__event- a,
.section-blog .article__tags,
.listing-page .grouptag{
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.sidebar .listing-page .tagged,
.sidebar .listing-page .tagged a,
.grouptag .tagged,
.grouptag .tagged a{
  color: #9b9b9b;
  text-transform: uppercase;
  font-weight: bold;
}
.grouptag a {
  color: #13bb64;
}
.grouptag a:hover {
  color: #686868;
}
.grouptag .sep{
  margin-right: 10px;
  margin-left: 10px;
}
.blog_post__category a,
.event__category a,
.event__category,
.section-events .events__event- a,
.section-blog .article__tags a {
  text-transform: uppercase;
  color: #686868;
}
#block-thrive-content .node .event__category a,
#block-thrive-content .node .event__category {
  text-transform: none;
  font-size: 14px;
  font-weight: 100;
}
#block-thrive-content .node .event__category,
#block-thrive-content .node .blog_post__date,
#block-thrive-content .node .blog_post__author,
#block-thrive-content .node .blog_post__category {
  display: inline-block;
  width: 100%;
}
#block-thrive-content .node .event__category div,
#block-thrive-content .node .blog_post__date div,
#block-thrive-content .node .blog_post__author div,
#block-thrive-content .node .blog_post__category div {
  float: left;
  margin-right: 5px;
}
#block-thrive-content .node .event__category div:nth-child(1),
#block-thrive-content .node .blog_post__date div:nth-child(1),
#block-thrive-content .node .blog_post__author div:nth-child(1),
#block-thrive-content .node .blog_post__category div:nth-child(1) {
  font-weight: 600;
}
#block-thrive-content .node .event__category div:nth-child(1)::after,
#block-thrive-content .node .blog_post__date div:nth-child(1)::after,
#block-thrive-content .node .blog_post__author div:nth-child(1)::after,
#block-thrive-content .node .blog_post__category div:nth-child(1)::after {
  content: ":";
}
#block-thrive-content .node .blog_post__image {
  display: inline-block;
  margin-right: 30px;
  margin-top: 0;
  max-width: 800px;
  float: left;
}
#sidebar-second .listing-page .position-left-clear {
  width: 90px;
  margin-right: 15px;
  margin-bottom: 40px;
  display: inline-block;
  vertical-align: top;
}
#sidebar-second .views-field-nothing,
#sidebar-second .views-field-title,
#sidebar-second .views-field-view-node {
  float: none;
}
#sidebar-second .views-field-nothing {
  margin-bottom: 10px;
}
#sidebar-second .views-field-title {
  font-size: 16px;
}
#sidebar-second .listing-page .sale a{
  font-size: 24px;
  font-weight: bold;
  color: #f3664a;
  padding-left: 30px;
  position: relative;
}
#sidebar-second .listing-page .sale a:after{
  display: block;
  width: 25px;
  height: 24px;
  background: transparent url(../images/icon-offer.png) no-repeat 0 0;
  content: " . ";
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 4px;
  left: 0;
  background-size: contain;
}
#sidebar-second .block-webform,
#sidebar-second .block {
  margin-bottom: 30px;
}
#sidebar-second #block-webform-2 {
  padding: 100px 17px 20px;
  background: #efefef;
  font-size: 20px;
  line-height: 1.4;
  position: relative;
  display: none;
}
#edit-stay-upto-date-with-our-latest-updates--description{
  color: #7f7f7f;
  margin-bottom: 15px;
}
.contact-block label,
#sidebar-second #block-webform-2 label{
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
}
select,
.contact-block input[type="email"],
.contact-block textarea,
.contact-block input[type="text"],
#block-webform-2 #edit-email{
  border: none;
  background: transparent;
  border-bottom: 1.2px solid #9b9b9b;
  font-family: 'Archivo Narrow', serif;
  padding: 5px 0 ;
  font-size: 14px;
  box-shadow: none;
  align-items: center;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  min-width: 200px;
}
select {
  background-image: url(../images/icon-arrow-down.png);
  background-size: 10px auto;
  background-position: right;
  background-repeat: no-repeat;
}
input#edit-field-date-value {
  background-image: url(../images/icon-calendar.png);
  background-size: 16px auto;
  background-position: right;
  background-repeat: no-repeat;
}
.contact-block textarea:hover,
.contact-block textarea:focus,
.contact-block input:hover,
.contact-block input:focus {
  border-color: #13bb64;
  box-shadow: none;
  outline: none;
}
.contact-block input[type="submit"],
#block-webform-2 #edit-actions-submit {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #f3664a;
  font-family: 'Archivo Narrow', serif;
  text-transform: uppercase;
}
.contact-block input[type="submit"]{
  background-color: #ffffff;
  color: #8b8b8b;
  opacity: 0.8;
  border: 1.5px solid #8b8b8b;
}

#block-webform-2 #edit-actions-submit:hover {
  background-color: #13bb64;
}

.contact-block input[type="submit"]:hover,
.contact-block input[type="submit"]:focus {
  color: #13bb64;
  border-color: #13bb64;
}
#sidebar-second #block-webform-2 :-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #ccc;
  font-family: 'Archivo Narrow', serif;
}
#sidebar-second #block-webform-2 ::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: #ccc;
  font-family: 'Archivo Narrow', serif;
}
#sidebar-second #block-webform-2 :-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
  color: #ccc;
  font-family: 'Archivo Narrow', serif;
}
#sidebar-second #block-webform-2 :-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  color: #ccc;
  font-family: 'Archivo Narrow', serif;
}
#block-views-block-events-block-1{
  margin-bottom: 40px;
}
#block-views-block-service-block-2 .servicescontainer{
  width: 60%;
  float: right;
  padding: 76px 113px;
  background: #ededed;
  min-height: 530px;
}
#block-views-block-service-block-2 .whatwedo{
  float: left;
  width: 40%;
  padding: 76px 0 0 113px;
  min-height: 530px;
  background: #13bb64;
}
.event__price,
.event__date,
.event__industry,
.events__industry-profession,
.events__location,
.event__location,
.events__price,
.events__event-date,
.event__date-range{
  display: inline-block;
  width: 59%;
  margin-bottom: 15px;
}


.event__price,
.event__location {
  display: inline-block;
  width: 39%;
}


.event__date div,
.event__price div,
.event__industry div,
.events__industry-profession div,
.events__location div,
.event__location div,
.event__location div,
.events__price div,
.events__event-date div,
.event__date-range,
.event__date-range > div{
  display: inline-block;
}
.event__date-range div:first-child,
.event__date div:first-child,
.event__price div:first-child,
.event__industry div:first-child,
.events__industry-profession div:first-child,
.events__location div:first-child,
.event__location div:first-child,
.events__price div:first-child,
.events__event-date div:first-child{
  margin-right: 10px;
  font-style: italic;
  font-weight: bold;
}
.event__date-range div:first-child:after,
.event__date div:first-child:first-child:after,
.event__price div:first-child:first-child:after,
.event__industry div:first-child:first-child:after,
.events__industry-profession div:first-child:after,
.events__location div:first-child:after,
.event__location div:first-child:after,
.events__price div:first-child:after,
.events__event-date div:first-child:after{
  content: ":";
  display: inline-block;
}
.events__industry-profession div:nth-child(2),
.events__location div:nth-child(2) a,
.event__location div:nth-child(2) a,
.events__price div:nth-child(2),
.events__event-date div:nth-child(2){
  color: rgba(74,74,74,0.8);
}
.event__location div:nth-child(2) a,
.events__location div:nth-child(2) a{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22px;
  line-height: 1.27;
}
.section-event .event__body,
.section-events .events__body{
  padding: 20px 0 10px;
  border-top: 1px solid #dadada;
  border-bottom: 1px dotted #dadada;
  margin-bottom: 20px;
}
.testimonial-title{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: #9b9b9b;
}
.usericon{
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  background: transparent url("../images/user-placeholder.png") no-repeat 0 0;
  background-size: contain;
}
#block-views-block-events-block-3 header{
  margin-bottom: 25px;
}
#block-views-block-events-block-3 .views-row{
  overflow: hidden;
  font-size: 18px;
  font-style: italic;
  line-height: 1.33;
  margin-bottom: 25px;
  color: #9b9b9b
}
#block-views-block-events-block-3 .views-field-nothing-1{
  float: right;
  width: 90.5%;

}
#block-views-block-events-block-3 .views-field-field-testimoni,
#block-views-block-events-block-3 .views-field-body{
  float: left;
  width: 75%;
}
.clientname{
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-style: normal;

}
.clienttitle{
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}
#block-views-block-events-block-3{
  margin-right: 75px;
  border-bottom: 1px dotted #dadada;
}
#block-paypallink,
#block-views-block-events-block-4{
  float: left;
  width: 20%;
  padding: 10px 20px 10px 0;
}
#block-sharethisblock{
  width: 51%;
  float: left;
  padding: 10px 0;
  text-align: right;
  margin-right: 70px;
}
.event__booking-link a,
.booknow .booknowbtn{
  /*   padding: 13px 19px;
  border-radius: 2px;
  background-color: #f3664a;
  font-family: 'GearedSlab-Light', serif;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; */
}
.ui-state-default{
  padding: 20px 0 !important;
  border: none !important;
  background: none !important;
}
.ui-state-active{
  border: none !important;
  background: none !important;
}
.ui-accordion .ui-accordion-header,
.team-page .views-field-title,
#overlay .overlay_content .content_title,
.ui-state-default a{
  font-weight: bold;
  text-align: left;
  color: rgba(74, 74, 74, 0.8) !important;
  font-size: 24px;
}

.team-page .views-field-field-subtitle,
#overlay .overlay_content .content_sub_title {
  font-weight: bold;
  color: rgba(74, 74, 74, 0.8) !important;
}

.values-block .views-field-field-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 100px;
}

.values-block .views-field-title {
  font-weight: bold;
  font-size: 1.15em;
  color: #13BB64;
  margin-bottom: 8px
}

.values-block .views-field-body {
  width: 90%;
}

.purpose-main-block .views-col {
  position: relative;
}

.purpose-main-block .views-field-title,
.purpose-main-block .views-field-body {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #fff;
}

.purpose-main-block .views-field-title {
  top: 20px;
  font-size: 1.3em;
}

.purpose-main-block .views-field-field-image {
  width: 95%;
}

.purpose-main-block .views-field-field-image img {
  width: 100%;
}

.purpose-main-block .views-field-title,
.purpose-main-block .views-field-body {
  width: 90%;
}


.ui-accordion .ui-accordion-header:focus{
  outline: none;
}
.ui-accordion .ui-accordion-header-collapsed{
  background: url(../images/icon-right-green.png) no-repeat right 30px !important;
  background-size: 14px !important;
  border-top: 1px dashed #6e6e6e !important;
}
.ui-accordion .views-row:last-child .ui-accordion-header-collapsed{
  border-bottom: 1px dashed #c4c4c4 !important;
}
.ui-accordion .ui-state-active{
  background: url(../images/icon-close.png) no-repeat right 30px !important;
  background-size: 18px !important;
  border-top: 1px dashed #6e6e6e !important;
}
.ui-state-active a, .ui-state-active a:link{
  color: rgba(74, 74, 74, 0.8);
}
.ui-accordion .ui-accordion-content{
  border: none;
  padding: 0;
}
.ui-accordion .ui-accordion-content {
  padding-left: 0;
  height: auto !important;
}

.team-page .views-row {
  margin-bottom: 30px;
  overflow: hidden;
}

.ui-accordion .views-field-field-image,
.team-page .views-field-field-image,
#overlay .overlay_content .content_image {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

#overlay .overlay_content .content_image {
  padding: 15px 0 15px 0;
}

#overlay .overlay_content .content_body {
  padding-top: 15px;
  display: inline-block;
  width: 60%;
}

.ui-accordion .views-field-field-subtitle,
.team-page .views-field-field-subtitle {
  margin-bottom: 25px;
}

.ui-accordion .views-field-field-subtitle,
.ui-accordion .views-field-body,
.team-page .views-field-field-subtitle,
.team-page .views-field-body {
  width: 95%;
}

.ui-accordion .views-field-body,
.team-page .views-field-body{
  margin-bottom: 15px;
}

#block-thrive-content .content ul,
.ui-accordion .views-field-body ul,
#block-thrive-content .service_page__body ul,
#block-thrive-content .event__body ul,
#block-thrive-content .blog_post__body ul,
#overlay .overlay_content .content_body ul {
  list-style-type: disc;
  margin: 15px 0;
  padding: 0 0 0 40px;
}

#block-thrive-content .content ol,
.ui-accordion .views-field-body ol,
#block-thrive-content .service_page__body ol,
#block-thrive-content .event__body ol,
#block-thrive-content .blog_post__body ol,
#overlay .overlay_content .content_body ol {
  list-style-type: decimal;
  margin: 15px 0;
  padding: 0 0 0 40px;
}

.team-page .views-field-body {
  float: left;
  width: auto;
}

.team-page .views-field-body .team-bio-link {
  color: #13BB64;
  margin-bottom: 15px;
  cursor: pointer;
}

.team-page .views-field-body .team-bio-link:hover {
  color: #333;
}


.section-clients .ui-accordion .views-field-body{
  width: 90%;
}
#block-views-block-landing-pages-block-2{
  padding-right: 35px;
}
#block-views-block-landing-pages-block-2 h3{
  font-family: 'Archivo Narrow',sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  color: rgba(74, 74, 74, 0.8);
  margin-bottom: 20px;
  border-top: 1px solid #dadada !important;
  padding-bottom: 0 !important;
}
#block-views-block-landing-pages-block-2 h3:focus,
h3.ui-state-active{
  outline: none !important;
}
#block-views-block-landing-pages-block-2 .views-field-field-image{
  float: left;
  margin-right: 25px;
  width: 30%;
  margin-bottom: 25px;
}
#block-views-block-landing-pages-block-2 .views-field-body{
  float: right;
  width: 66%;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #686868;
}
#block-views-block-landing-pages-block-2 .readmore{
  float: right;
  width: 66%;
}
#block-views-block-landing-pages-block-2 .readmore a{
  width: auto;
  display: inline-block;
}
.page-subpage-clinical #block-thrive-content{
  margin-bottom: 70px;
}
/*other*/

.flexslider{
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
  margin: 0;
}
.mainslide .flex-control-nav{
  bottom: 200px;
}
.flex-control-paging li a {
  background: none;
  border: solid 1px #fff;
}
.flex-control-paging li a.flex-active {
  background: #ffffff;
  border: solid 1px #ffffff;
}
.flex-control-paging li a:hover {
  background: #13bb64;
  border: solid 1px #13bb64;
}
.homepage-testimonials .flex-control-paging li a {
  background: none;
  border: solid 1px #7f7f7f;
}
.homepage-testimonials .flex-control-paging li a.flex-active {
  background: #7f7f7f;
  border: solid 1px #7f7f7f;
}
.homepage-testimonials .flex-control-paging li a:hover {
  background: #7f7f7f;
  border: solid 1px #7f7f7f;
}
.homepage-testimonials .flex-direction-nav{
  display: none;
}
.homepage-events .flex-control-nav{
  right: 180px;
  width: auto;
  bottom: -30px;
}
.homepage-testimonials .flex-control-nav{
  text-align: left;
  bottom: 60px;
}
.flex-direction-nav a{
  width: 70px;
  height: 70px;
}

.flex-direction-nav a:before{
  content: " ' ";
  background: transparent url('../images/icon-arrow-left.png') no-repeat 0 0;
  background-size: contain;
  width: 70px;
  height: 70px;
  color: transparent;
  font-size: 0.1px;
  padding-top: 22px;
}

.flex-direction-nav a.flex-next:before{
  content: " ' ";
  background: transparent url('../images/icon-arrow-right.png') no-repeat 0 0;
  background-size: contain;
  width: 70px;
  height: 70px;
}
.flexslider .slides > li{
  position: relative;
  max-height: 680px;
  overflow: hidden;
}

.mainslide .slides .views-field-title{
  position: absolute;
  top: 37%;
  left: 15%;
}

.mainslide .slides .views-field-body{
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  max-width: 800px;
}

.mainslide .slides .views-field-field-slide-link{
  position: absolute;
  top: 65%;
  left: 15%;
}

/* .secondsignup .views-field-field-action-link a{

background-color: #f3664a;
display: block;
padding-top: 12px;
text-align: center;
font-family: 'GearedSlab-Light', serif;
font-size: 28px;
font-weight: bold;
text-align: center;
color: #ffffff;
text-transform: uppercase;
width: 312px;
height: 60px;
border-radius: 2px;
} */

.secondsignup{
  position: relative;
  padding: 90px 0;
}

.secondsignup .views-field-field-image img { width: 100%; }
.secondsignup div.views-field.views-field-field-image { width: 100%; }
.secondsignup .views-field-field-image{
  position: absolute;
  top: 0;
  left: 0;
}

.secondsignup .views-field-title,
.secondsignup .views-field-field-call-to-action{
  z-index: 10;
  position: relative;
  margin: 0 auto;
  width: 80%;
}

/*DESKTOP STYLES*/

/*layouts*/

#header{
  height: 160px;
  overflow: hidden;
  padding: 10px 0 0;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
}
#header.open {
  overflow: visible;
}
.one-sidebar #header{
  padding-bottom: 280px;
}
body.section-event-landing #header {
  padding: 10px 0;
}
.page-resources #header,
.page-events #header,
.page-blog #header{
  padding-bottom: 390px;
}

#footer{
  background-color: #4a4a4a;
  padding-top: 50px;
  padding-bottom: 40px;
  position: relative;
  margin: 0 auto;
}

#footer .block-block-content,
#footer .block{
  float: left;
  width: 25%;
}
#block-footerlogo {
  margin-bottom: 30px;
}

#footer #block-copyright{
  width: 100%;
  background: #414141;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 0;
  max-height: 40px;
  height: 40px;
}
#footer #block-copyright .basic__body {
  margin: 0 auto;
  max-width: 1510px;
  padding: 0 35px;
  position: relative;
  height: 16px;
}
#attribution,
#copyright
{
  color: #dadada;
  font-size: 12px;
  position: absolute;
}

#block-copyright a {
  font-size: 12px;
}

#attribution{
  right: 35px;
}
#footer .container{
  background: transparent;
  margin: 0 auto;
  padding: 0 35px;
}
.site-logo img{
  max-height: 131px;
}
#block-medkitslink,
#block-bookschedulemenu{
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}

#block-bookschedulemenu li.menu-item a:hover{
  background: #13BB64;
  transition: background-color 0.5s ease;
}

#block-thrive-main-menu{
  float: right;
  clear: right;
  position: relative;
  margin-top: 30px;
}

#block-thrive-page-title{
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 160px;
  left: 0;
  background: #13bb64;
  z-index: 1;
  height: 130px;
}

#header .block-menu .menu-item{
  display: inline-block;
}

#block-thrive-main-menu .menu-item{
  margin-left: 21px;
}

#block-bookschedulemenu .menu .menu-item:first-child:after{
  color : rgba(255, 255, 255, 0.9);
  border-right: solid 1px rgba(255, 255, 255, 0.44);
  padding-right: 16px;
  margin-right: 16px;
  height: 45px;
  display: block;
  content: "  ";
  position: absolute;
  left: 190px;
  z-index: 10;
  top: 0;
}

/*links*/
a {
  color: #6E6E6E;
}
#block-homepage-events-block a {
  color: #ffffff;
}
#block-homepage-events-block a:hover,
#block-homepage-events-block a:focus {
  opacity: 0.8;
}
#block-thrive-main-menu .menu .menu-item:first-child a{
  background: transparent url('../images/icon-home.png') no-repeat 0 0;
  background-size: contain;
  width: 24px;
  height: 24px;
  color: #13bb64;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: -5px;
  margin-right: 10px;
}
.menu-item--active-trail a{
  color: #13bb64 ;
}
#sidebar-second .block .menu .menu-item {
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
#sidebar-second .block .menu .menu-item::before {
  content: "";
  background-image: url('../images/left-arrow.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 15px;
  width: 10px;
  height: 10px;
  padding: 10px;
  position: absolute;
  left: 0;
}
#sidebar-second .block .menu .menu-item a {
  font-size: 18px;
}
#block-socialmediaicons,
#block-thrive-footer{
  padding: 0 80px;
}
.half-page{
  overflow: hidden;
  padding-left: 113px;
}
.half-page .readmore,
.half-page .views-field-body,
.half-page .views-field-title{
  width: 48%;
  float: left;
  margin-right: 5%;
  color: #6E6E6E;
  font-size: 20px;
}
.half-page .views-field-field-image,
.half-page .views-field-field-video-url {
  float: left;
  width: 45%;
}
.half-page .views-field-field-video-url iframe {
  width: 100%;
  max-width: 480px;
  max-height: 300px;
}
.homepage-testimonials > footer {
  width: 30%;
  position: relative;
  float: right;
  z-index: 0;
  height: 495px;
}
.homepage-testimonials > footer article {
  background-color: rgba(19, 187, 100, 0.95);
  height: 100%;
  min-height: 495px;
  position: relative;
}
.homepage-testimonials > footer p,

.homepage-testimonials > footer h2{
  padding: 137px 137px 137px 90px;
  overflow: hidden;
}
.homepage-testimonials > footer h2{
  padding-bottom: 15px;
  margin-bottom: 0;
}
.homepage-testimonials > footer p{ padding-top: 5px; height: 250px; font-style: italic; }

.homepage-testimonials .flexslider{
  width: 70%;
  float: right;
  padding: 9%;
  z-index: 1;
  background: rgba(237, 237, 237, 0.95);
  position: relative;
  height: 495px;
}
#block-homepagecontactusfirstcolumnblock{
  clear: both;
}
#block-homepagecontactusfirstcolumnblock{
  width: 42%;
  float: left;
  padding: 0 0px 70px 90px;
}
#block-homepage-contact-us-block{
  padding-left: 90px;
}
.contact-block > .views-row{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.contact-block > footer{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.contact-block form{
  position: relative;
}
/*views*/

.resources .views-row{
  max-width: 340px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
}
.resources .views-field-field-image {
  height: 230px;
  background: #efefef;
  position: relative;
}

.homepage-events .views-field-field-event-thumbnail{
  width: 570px;
}

.homepage-events .views-field-title{
  position: absolute;
  top: 30px;
  right: 90px;
  width: 400px;
}
.homepage-events .views-field-body{
  position: absolute;
  top: 70px;
  right: 90px;
  width: 400px;
  font-size: 22px;
  line-height: 1.27;
  color: #ffffff;
}

.homepage-events .tagged a,
.homepage-events .tagged{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
.homepage-events .tagged .sep{
  display: inline-block;
  border-right: 2px solid #ffffff;
  width: 1px;
  height: 11px;
  margin-right: 10px;
  margin-left: 10px;
}

.homepage-events .views-field-title a{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}
.homepage-events .readmore{
  position: absolute;
  top: 275px;
  right: 395px;
}

.homepage-events .viewmorevents a{
  border-radius: 2px;
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 7px 25px;
  position: absolute;
  right: 0
}
.listing-page .position-left-clear{
  float: left;
  clear: both;
  margin-right: 20px;
}
.listing-page .position-left{
  float: left;
  width: 72%;
  margin-bottom: 10px;
}

#Consultancy.servicescontainer,
#Learning.servicescontainer {
  display: none;
}

.servicescontainer li {
  list-style-type: disc;
  margin-left: 25px;
  padding: 2px;
}

.servicescontainer ol li {
  list-style-type: decimal;
}


.overlay {
  position:fixed !important;
  width:100%;
  height:100%;
  background-color:#675f51; /* fallback */
  background-color:rgba(0, 0, 0, 0.5);
  z-index:450;
  top:0;
  overflow:hidden;
}
.overlay .content_title {
  margin-bottom: 15px;
  display: block;
  line-height: 110%;
  width: 90%
}
.overlay .overlay_content {
  position: absolute;
  z-index: 500;
  max-height: 660px;
  left: 35%;
  width: 70%;
  margin-left: -20%;
  background: rgba(255,255,255,1);
  margin-top: -249px;
  top: 50%;
  -moz-box-shadow:    0px 10px 25px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.6);
  box-shadow:         0px 10px 25px 0px rgba(0,0,0,0.6);
}
.overlay .overlay_content .blurb,
.overlay .overlay_content .content_blurb{
  overflow-y: auto;
  padding-right: 2%;
}
.overlay .overlay_content .content_title {
  margin: 0;
  padding: 15px 150px 15px 30px;
}
.overlay .overlay_content .content_blurb {
  padding: 20px 30px 30px;
  background-color: #ffffff;
  margin: 0;
}
.overlay_content .close {
  margin: 10px 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  background-image: url('../images/icon-close.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}
.overlay_content .close:hover,
.overlay_content .close:active {
  opacity: 0.8;
}
.overlay .content_blurb::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #ffffff;
}
.overlay .content_blurb::-webkit-scrollbar{
  width: 6px;
  background-color: #ffffff;
}
.overlay .content_blurb::-webkit-scrollbar-thumb{
  background-color: #13bb64;
}
.eu-cookie-compliance-content {
  margin: 0 auto;
  width: 100% !important;
  max-width: 1510px;
  padding: 0 15px;
}
#sliding-popup {
  background-color: #13bb64;
  padding-top: 30px;
  color: #ffffff;
}
#sliding-popup h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 5px;
}
#sliding-popup button {
  background-color: #f3664a;
  margin-bottom: 10px;
}
#sliding-popup button:hover,
#sliding-popup button:focus {
  background-color: #da5b41;
}
