@media only screen and (max-width: 1300px){
  .homepage-testimonials > footer p,
  .homepage-testimonials > footer h2{
    padding-left: 35px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1170px){

  .team-page .views-field-body {
    width: 60%;
  }

  .one-sidebar.sidebar-second #content{
    width: 58%;
  }

  .values-block .views-field-field-image,
  .team-page .views-field-field-image {
    float: none;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .purpose-main-block .views-col.col-1,
  .purpose-main-block .views-col.col-2 {
    width: 100% !important;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 940px){

  .event__price,
  .event__date,
  .event__date-range,
  .event__industry,
  .events__industry-profession,
  .events__location,
  .event__location,
  .events__price,
  .events__event-date{
    width: 49%;
  }

  .team-page .views-field-body {
    width: 50%;
  }

  #block-thrive-page-title h1 {
    padding: 30px 35px;
    font-size: 40px;
  }
  .clinic-locations-block .row {
    display: block;
    width: 100%;
    height:150px;
    padding: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .clinic-locations-block .row.active:after {
    display: none;
  }

}


@media only screen and (max-width: 867px){

  #block-thrive-page-title h1 {
    padding: 20px 35px;
    font-size: 36px;
  }

  .one-sidebar.sidebar-second #content{
    width: 50%;
  }

  .team-page .views-field-body {
    width: 40%;
  }

  #overlay .overlay_content .content_title,
  #overlay .overlay_content .content_sub_title,
  #overlay .overlay_content .content_body {
    display: inline-block;
    padding-left: 0;
    width: 90%;
  }

  #overlay .overlay_content .content_image {
    display: none;
  }

  .event__price,
  .event__date,
  .event__date-range,
  .event__industry,
  .events__industry-profession,
  .events__location,
  .event__location,
  .events__price,
  .events__event-date{
    width: 90%;
  }
  #block-views-block-general-block-7::after {
    display: none;
  }
  #block-views-block-general-block-7 .views-field-nothing {
    position: relative;
    bottom: 0;
    padding: 30px;
    background: #14a95b;
  }

}

/*MOBILE DEVICE STYLES*/
@media only screen and (max-width: 790px){

  body.front-page {
    min-width: 100%;
  }
  #header {
    height: auto;
    padding-bottom: 0
  }
  #block-thrive-branding {
    height: auto;
  }

  .half-page .views-field-field-image,
  .half-page .views-field-field-video-url {
    width: 100%;
  }

  .half-page .views-field-field-video-url iframe {
    max-width: 100%;
  }
  #block-medkitslink,
  #block-thrive-main-menu a.is-active::after,
  #block-thrive-main-menu ul {
    display: none;
  }
  #block-views-block-special-event-block-5 .views-row > div:last-child,
  #block-views-block-special-event-block-5 .views-row > div:nth-child(2) {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
  }
  #block-views-block-special-event-block-5 .views-field-nothing,
  #block-views-block-special-event-block-5 .views-field-nothing-1 {
    background: #EDEDED;
    margin: 5px auto;
    width: 260px;
  }
  #block-thrive-main-menu ul  {
    position:fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 51;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }
  #block-thrive-main-menu ul li {
    display: block;
    width: 100%;
    margin: 0 !important;
    text-align: left;
    float: none
  }
  #block-thrive-main-menu ul li a {
    display: block;
    border-bottom: solid thin #ccc;
    width: 100%;
    margin: 0 !important;
    padding: 20px;
    text-align: left;
  }
  #block-thrive-main-menu .menu .menu-item:first-child a {
    width: 100%;
    padding-bottom: 30px;
    margin-left: 20px;
    background-size: 40px;
    background-position: 20px 0;
  }
  #block-mobilemenutrigger {
    top: 90px;
    right: 35px;
    color: #13bb64;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
    padding: 5px 18px;
    border: solid 1px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    height: 33px;
    position:absolute;
    bottom: 30px;
    cursor: pointer;
  }
  #block-thrive-main-menu .menu .menu-item:first-child a {
    margin-left: 20px;
  }

  #block-thrive-main-menu ul::before:focus,
  #block-thrive-main-menu ul::hover,
  #block-mobilemenutrigger:hover,
  #block-mobilemenutrigger:focus {
    color: #f3664a;
  }
  #block-homepage-events-block .image img {
    width: 100% !important;
    height: auto !important;
  }

  #block-thrive-main-menu a.is-active::after,
  #block-homepage-events-block .flex-direction-nav,
  #block-testimonialsintro {
    display: none;
  }
  .mainslide .slides .views-field-nothing {
    bottom: 90px;
  }
  .mainslide .slides .views-field-nothing .title,
  .mainslide .slides .views-field-nothing .title a {
    font-size: 34px;
  }
  .mainslide .slides .views-field-nothing .blurb {
    font-size: 16px;
  }
  .mainslide .flex-control-nav{
    bottom: 40px;
  }
  #header{
    padding: 15px 0;
  }
  #block-exposedformblogpage-1 form,
  #block-exposedformreourcespage-1 form,
  #block-exposedformeventspage-1 form,
  #header-region,
  #block-thrive-page-title h1,
  .container{
    padding: 0 15px;
  }
  #block-thrive-page-title h1 {
    width: 85%;
    float: left;
    padding: 0;
    margin: 0 0 10px;
  }
  #block-thrive-branding{
    margin: 0;
  }
  #block-thrive-branding img{
    height: 120px;
    width: auto !important;
  }
  #block-bookschedulemenu{
    position: absolute;
    top: 10px;
    right: 15px
  }
  #block-mobilemenutrigger {
    top: 90px;
    right: 15px;
  }
  #block-webform,
  #block-homepagecontactusfirstcolumnblock,
  body.no-sidebar #content-area .views-element-container {
    clear: both;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
  }
  .page-service  #content-area .views-element-container,
  .page-purpose  #content-area .views-element-container,
  .page-resources #content-area .views-element-container,
  .page-blog #content-area .views-element-container,
  .page-events #content-area .views-element-container{
    margin-top: 0;
  }
  #content-area #block-webform,
  #content-area #block-homepagecontactusfirstcolumnblock {
    padding-top: 40px;
    margin-top: 0;
  }
  #content-area #block-homepage-contact-us-block {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #content-area #block-homepage-contact-us-block,
  #content #block-views-block-general-block-4,
  #content-area #block-homepage-testimonials-block,
  #content-area #block-views-block-general-block-9 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .half-page{
    overflow: hidden;
    padding-left: 35px;
    padding-right: 35px;
  }
  .half-page .views-field-body {
    width: 100%;
    margin-bottom: 15px;
  }
  #block-signuptoday p {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  #block-homepage-events-block{
    background: #13bb64;
    padding: 15px;
    margin-bottom:0 !important;

  }
  #block-homepage-events-block .views-field-nothing-1 {
    height: auto;
  }
  #block-homepage-events-block .image,
  #block-homepage-events-block .text{
    width: 100%;
    height: auto;
    position: relative;
  }

  .signup.secondsignup .views-field-title {
    font-size: 1.3em;
    text-align: center;
    width: 90%;
    margin: 5%;
  }
  .secondsignup {
    padding: 10px;
    text-align: center;
    background-color: #afafaf;
  }
  #block-views-block-general-block-8 {
    width: 100%;
    height: auto;
  }
  #block-views-block-service-block-2 {
    padding-top:475px
  }
  #block-views-block-service-block-2 .servicescontainer{
    width: 100%;
    padding: 40px 35px;
    min-height: auto;
  }
  #block-views-block-service-block-2 footer {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
  #block-views-block-service-block-2 .whatwedo{
    width: 100%;
    padding: 50px 40px 30px;
    min-height: auto;
  }

  #block-homepage-events-block .flex-control-nav {
    position: relative;
  }
  #block-homepagecontactusfirstcolumnblock {
    padding: 30px 0 20px 0;
    width: 100%;
    margin: 0px;
  }
  #block-homepagecontactusfirstcolumnblock,
  #block-homepagecontactusfirstcolumnblock h2 {
    text-align: center;
  }
  #block-webform {
    padding: 0;
    width: 95%;
    float: right;
  }
  #block-twittertimeline,
  #block-thrive-footer.navigation {
    display: none;
  }

  #footer .block-block-content,
  #footer .block {
    width: 50%;
  }
  #block-socialmediaicons {
    padding: 10px;
  }
  #customlogo img {
    max-width: 150px;
  }
  #footer .block-block-content,
  #footer .block {
    width: 100%;
  }
  #block-what-we-do-block .whatwedo{
    float: left;
    width: auto;
    padding: 50px ;
    min-height: 0;
    background: #13bb64;
    display: block;
    width: 100%;
    margin-bottom: 450px;
  }
  #block-what-we-do-block .servicescontainer{
    width: 60%;
    float: left;
    padding: 40px 5%;
    background: #ededed;
    min-height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 500px;
  }
  .flexslider .slides > li{
    max-height: none;
  }
  .homeservicesbody {
    overflow: auto;;
    height: 240px;
  }

  .signup.secondsignup .views-field-title {
    margin-bottom: 0px;
    font-size: 22px;
  }
  .secondsignup .views-field-field-action-link a {
    font-size: 16px;
  }
  .homepage-testimonials .views-field-body-1 {
    font-size: 18px;
  }
  .homepage-testimonials .views-field-field-testimoni {
    font-size: 16px;
  }
  .homepage-testimonials .views-field-field-test {
    font-size: 14px;
  }
  .client-types .views-row{
    width: 100%;
    max-width: 100%;
  }
  #block-views-block-general-block-3 .views-field-nothing {
    width: 72%;
    text-align: center;
  }
  #block-views-block-general-block-3 .views-field-nothing ul li {
    text-align: left;
    height: 170px;
    margin-top: -40px;
  }
  #block-views-block-general-block-3 ul li:nth-child(2),
  #block-views-block-general-block-3 ul li:nth-child(3) {
    margin-left: 0;
  }
  .homepage-testimonials footer,
  .homepage-testimonials .flexslider{
    width: 100%;
    height: auto;
  }
  .homepage-testimonials > footer p,
  .homepage-testimonials > footer h2,
  .homepage-testimonials .flexslider{
    padding: 35px;
  }
  .homepage-testimonials {
    position: relative;
  }
  .homepage-testimonials .flexslider {
    padding-top: 240px;
  }
  .homepage-testimonials > footer {
    position: absolute;
    top: 0px;
    z-index: 50
  }
  .homepage-testimonials > footer h2 {
    padding-bottom: 0
  }
  .homepage-testimonials > footer p {
    padding-top: 10px;
    height: auto;
  }
  .homepage-testimonials > footer .special_page__image,
  .homepage-testimonials .flexslider:after{
    display: none;
  }
  .homepage-testimonials .flex-control-nav{
    display: none;
  }
  .homepage-testimonials .views-field-body{
    font-size: 24px;
  }
  .homepage-testimonials .views-field-title{
    font-size: 20px;
  }
  .homepage-testimonials .views-field-field-subtitle{
    font-size: 18px;
  }
  .homepage-testimonials > footer article{
    min-height: auto;
  }
  #block-homepage-contact-us-block{
    padding: 20px;
  }
  .contact-block > footer,
  .contact-block > .views-row{
    width: 100%;
  }
  .contact-block #edit-contact-column-one, .contact-block #edit-contact-column-two{
    width: 100%;
  }
  .contact-block #edit-actions{
    position: relative;
    bottom: auto;
    right: auto;
  }
  .one-sidebar #content-area{
    padding-right: 0;
  }
  .one-sidebar.sidebar-second #content{
    width: 89%;
    margin: 20px;
    border: none;
  }
  .ui-accordion .views-field-field-image,
  .team-page .views-field-field-image{
    width: 100%;
    margin-bottom: 10px;
  }
  .ui-accordion .views-field-field-subtitle, .ui-accordion .views-field-body,
  .team-page .views-field-field-subtitle, .team-page .views-field-body{
    width: 100%;
    margin-left: 0;
  }
  .one-sidebar.sidebar-second #sidebar-second{
    margin: 0;
    padding: 35px !important;
    bordeR: none;
    border-top: 1px solid #c4c4c4;
    float: left;
    width: 100%;
    margin-top: 30px;
  }
  #block-views-block-client-view-block-1 li{
    width: 100%;
    margin-right: 0;
  }
  .second .tabmenu a{
    padding-left: 60px;
    padding-right: 20px;
    width: 95%;
  }
  h1{
    font-size: 32px;
  }
  #block-thrive-page-title{
    height: auto;
    padding: 20px;
    margin-top: 0;
    top: 15px;
    position: relative;
    margin-left: -15px;
    width: 120%;
  }
  .one-sidebar #header{
    padding-bottom: 0;
  }
  #block-exposedformblogpage-1,
  #block-exposedformreourcespage-1,
  #block-exposedformeventspage-1 {
    top: 30px;
    position: relative;
    height: auto;
    padding-bottom: 15px;
  }
  #content-area .listing-page .position-left-clear{
    margin-right: 0;
    float: left;
    margin: 0 15px 15px 0;
    width: 25%;
  }
  #content-area .listing-page .position-left {
    width: 70%;
    margin-bottom: 10px;
  }

  .event__price,
  .event__date,
  .event__date-range,
  .event__industry,
  .events__industry-profession,
  .events__location,
  .event__location,
  .events__price,
  .events__event-date{
    width: 49%;
  }
  #block-views-block-special-event-block-8 .views-row{
    background: #ededed;
    padding: 80px 30px;
    height: auto;
  }

  #block-views-block-special-event-block-8 h2,
  #block-views-block-special-event-block-8 .views-field-nothing {
    position: relative;
    color: rgb(127, 127, 127);
  }
  #block-views-block-special-event-block-8 .views-field-nothing {
    top: 0
  }
  #block-views-block-special-event-block-8 .bg-overlay img {
    display: none ;
  }
  #block-views-block-special-event-block-4 {
    padding-top: 90px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
  #block-views-block-general-block-3 .views-field-nothing {
    width: 40%;
  }
  #block-mobilemenutrigger{
    top: 80px !important;
  }
}

@media only screen and (max-width: 650px){

  #block-thrive-page-title h1 {
    font-size: 30px;
  }

  .mainslide .flex-control-nav {
    display: none;
  }
  .mainslide .slides .views-field-nothing .title,
  .mainslide .slides .views-field-nothing .title a {
    font-size: 28px;
  }
  .mainslide .slides .views-field-nothing .blurb {
    font-size: 14px;
  }
  .container{
    padding: 0 15px;
  }
  #block-signuptoday ul {
    margin: 5px;
    margin-top: 60px;
  }
  #block-signuptoday ul li {
    height: 150px;
    margin-top: -25px;
  }
  #block-signuptoday ul li:nth-child(2),
  #block-signuptoday ul li:nth-child(3) {
    margin-left: 0px;
  }
  .mainslide .slides .views-field-nothing {
    top: 40px;
  }
  .mainslide .flex-control-nav,
  .mainslide .slides .views-field-nothing {
    width: 80%;
    left: 10%;
    text-align: center;
  }
  .mainslide .slides .views-field-nothing .title {
    text-align: center;
  }
  .signup.secondsignup .views-field-title {
    margin-bottom: 0px;
    font-size: 22px;
  }

  .event__price,
  .event__date,
  .event__date-range,
  .event__industry,
  .events__industry-profession,
  .events__location,
  .event__location,
  .events__price,
  .events__event-date{
    width: 90%;
  }

  #block-views-block-special-event-block-2 .item {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    margin: 2% 3%;
  }
}

@media only screen and (max-width: 515px){
  .mainslide .flex-control-nav,
  .mainslide .flex-direction-nav,
  #block-bookschedulemenu .menu  {
    display: none;
  }
  #header {
    height: auto;
  }
  #block-thrive-branding {
    display: inline-block;
    margin-top: 0;
  }
  #block-mobilemenutrigger {
    top: 30px;
    right: 15px;
  }
  #block-thrive-branding img {
    height: 60px;
  }
  #block-views-block-general-block-9 {
    margin-top: 90px !important;
  }
  #block-thrive-main-menu {
    margin-top: 15px;
  }
  #block-signuptoday{
    padding-top: 80px;
  }
  .resources .views-row{
    max-width: 290px;
  }
  .mainslide .slides .views-field-nothing {
    line-height: 120%;
  }
  .mainslide .slides .views-field-nothing .title a {
    font-size: 26px;
    line-height: 120%;
  }
  #footer #block-copyright {
    text-align: center;
    max-height: 80px;
    height: 80px;
  }
  #attribution, #copyright {
    margin-bottom: 8px;
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 425px){
  #block-bookschedulemenu .menu,
  .mainslide .flex-control-nav {
    display: none;
  }
  #block-exposedformblogpage-1,
  #block-exposedformreourcespage-1,
  #block-exposedformeventspage-1 {
    top: 0;
  }
  #block-thrive-page-title{
    padding: 15px 15px 10px;
    margin-top: 0;
  }
  #block-thrive-main-menu {
    margin-top: 25px;
  }
  #block-thrive-page-title h1 {
    font-size: 24px;
  }
  .mainslide .slides .views-field-nothing .title,
  .mainslide .slides .views-field-nothing .title a {
    font-size: 24px;
  }
  .mainslide .slides .views-field-nothing .blurb {
    font-size: 12px;
  }
  .secondsignup .views-field-field-action-link a,
  .resources .viewmore,
  .mainslide .slides .views-field-nothing .btn a {
    padding: 8px 28px 5px;
    font-size: 18px;
  }
  #block-views-block-general-block-9 {
    margin-top: 110px !important;
  }
  .mainslide .slides .views-field-nothing {
    top: 20px;
  }
  .tabmenu a{
    padding: 25px 141px 23px 102px;
    font-size: 18px;
  }
  .half-page,
  #block-views-block-service-block-2 .servicescontainer,
  .homepage-testimonials > footer p,
  .homepage-testimonials > footer h2{
    padding: 15px;
  }
  .homepage-testimonials > footer h2 {
    padding-top: 35px;
  }
  .homepage-testimonials .flexslider:after{
    display: none;
  }
  .homepage-testimonials .flex-control-nav{
    display: none;
  }
  .homepage-testimonials .views-field-body{
    font-size: 24px;
  }
  .homepage-testimonials .views-field-title{
    font-size: 20px;
  }
  .homepage-testimonials .views-field-field-subtitle{
    font-size: 18px;
  }
  #content-area .listing-page .position-left-clear{
    margin: 0;
    width: 50%;
  }
  #content-area .listing-page .position-left {
    width: 100%;
  }
}

@media only screen and (max-width: 320px){
  .mainslide .slides .views-field-nothing .blurb {
    display: none
  }
  .mainslide .slides .views-field-nothing .title,
  .mainslide .slides .views-field-nothing .title a {
    font-size: 18px;
  }
}
